body {
  margin: auto ;

}

/* Navbar container & layout */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  position: fixed;
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: floralwhite;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  right: 1%;
  top: 1vh;
  position: absolute;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  cursor: pointer;
  color: orangered;
  text-decoration: underline;
  transition: 0.3s ease;
}

.nav-links li {
  display: inline;
}

#main .main{
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relevant;
  gap: 0.5vh;
}

/* Center .nav-brand at <= 500px */
@media only screen and (max-width: 500px) {
  #navbar {
    justify-content: center; /* mobile layout */
  }

  .nav-links {
    display: none;
  }

  .nav-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    text-align: center;
  }
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-in-between;
  align-items: center;
  top: 15vh;
}

/* About Section */
#about {
  padding: 4rem 1rem;
  background-color: #ffecb3;
  text-align: center;
  color: #4e342e;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#about p {
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

/* Contact Section */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-tile {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 8px;
}

.project-tile a {
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: orange;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
}

.project-tile a:hover{
  cursor: pointer;
  color: orangered;
  text-decoration: underline;
  transition: 0.3s ease;
}

#contact {
  padding: 4rem 1rem;
  background-color: #ffe0b2;
  text-align: center;
  color: #4e342e;
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-link {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  background-color: #ff7043;
  color: #fffaf5;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
  border: 0.1rem solid black;
}

.contact-link:hover {
  background-color: #f4511e;
}